.header {
  width: 100%;
  &__conteiner {
    position: relative;
  }

  &__logo {
    padding-left: inherit;
    padding-right: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @media (max-width: 1024px){
      img{
        width: 164px;
      }
    }
    @media (max-width: 768px) {
      img{
        width: 110px;
      }
    }
    @media (max-width: 650px) {
      position: absolute;
      left: unset;
      padding-left: 0;
      padding-right: 0;
      display: flex;
      background: #005396;
      position: relative;
      left: calc(-50vw + 50%);
      width: 100vw;
      justify-content: center;
      img{
        width: 85px;
      }
    }
  }

  &__body {
    position: relative;
    left: calc(-50vw + 50%);
    width: 100vw;
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    background: linear-gradient(
      0deg,
      #0065b2 0%,
      #005fa7 25%,
      #00589b 50%,
      #005290 75%,
      #004c85 100%
    );
    @media (max-width: 900px){
      img{
        width: 400px;
      }
    }
    @media (max-width: 686px){
      img{
        width: 350px;
      }
    }
    @media (max-width: 650px){
      padding: 8px 0px;
      background: #005396;
    }
    @media (max-width: 378px){
      img{
        width: 300px;
      }
    }
    @media (max-width: 300px){
      img{
        width: 250px;
      }
    }
  }

  &__burger{
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    img{
      width: 35px;
    }
    @media (max-width: 470px) {
      display: unset;
    }
  }

  &__bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #005396;

    // @media (max-width: 470px) {
    //   display: none;
    // }
  }

  // &__menu {
  // }

  &__list {
    display: flex;
    padding: 15px 0;
    li {
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      color: #ffffff;
      cursor: pointer;
      transition: all 0.2s ease;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 900px) {
        font-size: 10px;
      }
      @media (max-width: 686px) {
        font-size: 9px;
      }
      @media (max-width: 650px) {
        font-size: 11px;
      }
      @media (max-width: 550px) {
      }

      &::after {
        display: block;
        content: '';
        width: 0%;
        border: 1px solid rgba(255, 255, 255);
        visibility: hidden;
        transition: all 0.3s ease;
      }

      &:hover::after {
        width: 100%;
        visibility: visible;
      }

      &:not(:last-child) {
        margin: 0 75px 0 0;

        @media (max-width: 1024px) {
          margin: 0 30px 0 0;
        }
        
      }
    }
    li[hidden]{
      display: block;
      @media (max-width: 600px) {
        display: none;
      }
    }
  }
}