.notoriety {
  margin: 0px auto 50px;

  @media (max-width: 768px) {
    margin: 0px auto 15px;
  }

  &__group {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  &__text {
    margin: 0 0 20px 0;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.4px;
    text-transform: capitalize;

    @media (max-width: 1024px) {
      font-size: 16px;
    }
    @media (max-width: 768px) {
      font-size: 12px;
      margin: 0 0 15px 0;
    }
    @media (max-width: 600px) {
      margin: 0 0 8px 0;
    }
  }
}
